*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
    
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
}
}


header{
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  align-items: center;
}

header .info{
  display: flex;
  gap: 45px;
  font-size: 16px;
  text-decoration: none;
  list-style: none;
}


.btn {
    background-color: #30b868;
    border: none;
    padding: 16px 12px;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
}

.active-link {
    color: #fff;
    border-bottom: 2px solid #2ecc71;
}

.btn-primary {
    background-color: #5e7e68;
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 5px;
    cursor: pointer;
}




.hero {
    text-align: center;
    padding: 100px 0;
    background: url(assets/hero-bg.png);
    background-size: cover;
}

.badge {
    background-color: #FFFFFF;
    color: #2ecc71;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 12px;
}

.hero h1 {
    font-size: 48px;
    margin: 20px 0;
}

.text-white{
  color: #FFFFFF;
}

.text-green {
    color: #2ecc71;
}

.hero p {
    color: #ccc;
    max-width: 700px;
    margin: 0 auto 30px;
}

.btn-green {
    background-color: #2ecc71;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px
}

.btn-outline {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
}




.problems {
    background-color: #fff;
    color: #333;
    padding: 80px 0;
    text-align: center;
}

.section-title {
    font-size: 32px;
    margin-bottom: 10px;
}

.section-subtitle {
    color: #777;
    margin-bottom: 50px;
}

.card-grid {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.card {
    padding: 30px;
    background: #fdfdfd;
    border: 1px solid #eee;
    border-radius: 10px;
    width: 322px;
    height: 300px;
    justify-items: center;
}

.red-icon{
  background: #F95555;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 30px;
  margin-bottom: 15px;
}

